ZABBIX_API_KEY="FILL THIS"
ZABBIX_API_URL="https://zabbix.example.com/api_jsonrpc.php"
AUTOTASK_API_URL="https://webservicesXX.autotask.net/atservicesrest/V1.0"
AUTOTASK_API_USERNAME="FILL THIS"
AUTOTASK_API_SECRET="FILL THIS"
AUTOTASK_API_INTEGRATION_CODE="FILL THIS"

AUTOTASK_TICKET_QUEUE_ID=1234567
AUTOTASK_TICKET_CATEGORY=123

DB_PATH="problems.sqlite"

TIMEZONE="Europe/Helsinki"